.todo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.todo {
  color: #fff;
  min-width: 600px;
  font-size: 35px;
  font-weight: 700;
  line-height: 70px;
  background: #2255aa;
  padding: 20px 30px;
  border: 2px solid #333;
  border-radius: 7px;
}

.complete {
  background: #ee1122;
}

.incomplete {

}

.delete {
  font-size: 60px;
  font-weight: 700;
  padding: 20px;
  margin-left: 15px;
  border: 2px solid #555;
  background: #2255aa;
  border-radius: 50%;
  color: red;
}

.cantdelete {
  color: #fff;
}

