.todo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}

.todo {
  color: #fff;
  min-width: 6000px;
  font-size: 35px;
  font-weight: 700;
  background: #2255aa;
  padding: 20px 30px;
  border: 2px solid #333;
  border-radius: 7px;
}

.complete {
  background: #ee1122;
}

.incomplete {

}

