.App {
  text-align: center;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

button {
  background-color: white;
  color: black;
}

button:hover {
  color: white;
  background-color: black;
}


