body {
    background-image: url('https://cdn.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-11-full.jpg');
}
.main-container {
    min-height: 350px;
    min-width: 300px;
    max-width: 800px;
    width: 45vw;
    background-image: url("https://cdn.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-6-full.jpg");
    margin: 100px auto;
    border: outset 2px rgba(148, 147, 115, 0.55);
    border-radius: 5px;
}
h1 {
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    margin: 0;
    text-align: center;
    background-image: url('https://cdn.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-11-full.jpg');
    background-repeat: no-repeat;
    background-size: 1400px;
    font-weight: 600;
    background-attachment: fixed;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 25px;
    border-image: url('https://cdn.elegantthemes.com/blog/wp-content/uploads/2013/09/bg-11-full.jpg') 20% stretch;
}
.whole-list {
    margin: auto;
    list-style: upper-roman;
    margin-bottom: 20px;
}
.list-item {
    list-style: upper-roman;   
    margin-top: 5px;
    font-size: 14px;
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
}
.list-div {
    text-overflow: ellipsis;
    overflow-x: hidden;
    position: relative;
    display: block;
    margin-top: 0;
}
.list-item-name {
    position: relative;
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    width: 280px;
    letter-spacing: .1px;
    font-weight: 600;
    color: #232418;
}
.list-item-name:hover {
    cursor: pointer;
    text-shadow: 1px 1px green;
    opacity: .6;
}
.list-item-name-done {
    position: relative;
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    width: 280px;
    letter-spacing: .1px;
    color: green;
    font-style: italic;
    text-decoration: line-through;
}
.list-item-name-done:hover {
    cursor: pointer;
    text-shadow: 1px 1px #232418;
    opacity: .6;
}
form {
    margin: auto;
    margin-top: 20px;
    min-height: 40px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
input {
    font-family: Trebuchet 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;    
    margin: auto;
    text-align: center;
    width: 90%;
    background: none;
    height: 30px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
}
input:focus {
   outline: none;
   border-bottom: ridge 2px whitesmoke;
   text-align: left;
}
.remove-button {
    background-image: url("http://www.iconarchive.com/download/i44096/wwalczyszyn/iwindows/Recycle-Bin.ico");
    background-size: 30px;
    background-color: rgb(249, 249, 249);
    border: none;
    position: absolute;
    right: 5vw;
    top: 10px;
    height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    color: #232418;
    border-radius: 20px;
    bottom: 1.45em;
    outline: none;
}
.remove-button:hover {
    opacity: 1;
    background-color: red;
    cursor: pointer;
}