.addToDo {
  background: red;
}

.submitField {
  background: blue;
}

.submitButton {
  background: green;
}

.toDoContainer {
  background: rgb(138, 138, 0);
}
.toDoList {
  background: purple;
}
.toDoItem {
  background: red;
}
.checkBox {
  background: blue;
}
.toDoText {
  background: green;
}
.completeButtonContainer {
  background: rgb(138, 138, 0);
}
.completeButton {
  background: purple;
}
.deleteButtonContainer {
  background: red;
}
.deleteButton {
  background: blue;
}