.addToDo {
  border: solid 2px red;
}

.submitField {
  border: solid 2px blue;
}

.submitButton {
  border: solid 2px green;
}

.toDoContainer {
  border: solid 2px rgb(138, 138, 0);
}
.toDoList {
  border: solid 2px purple;
}
.toDoItem {
  border: solid 2px red;
}
.checkBox {
  border: solid 2px blue;
}
.toDoText {
  border: solid 2px green;
}
.completeButtonContainer {
  border: solid 2px rgb(138, 138, 0);
}
.completeButton {
  border: solid 2px purple;
}
.deleteButtonContainer {
  border: solid 2px red;
}
.deleteButton {
  border: solid 2px blue;
}