.list {
  display: flex;
  justify-content: center;
  width: 100%;
}
.header {
  text-align: center;
  font-size: 2rem;
}
.item {
  margin: '5px';
  display: 'flex';
  flex-flow: 'row';
  padding: '5px';
  border: '2px solid blue';
}
