.todoItem {
    font-weight: bold;
    display: inline;
}

/* .todoItem:hover{
    cursor:pointer;
} */

.add-todo-button:hover{
    cursor:pointer;
}

.delete-button{
    margin: 10px;
    display: inline;
}

.delete-button:hover{
    cursor:pointer;
}