body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  width: 80%;
  display: inline;
  border: 1px solid black;
  position: relative;
}

.list {
  display: flex;
  padding: 1px;
  float: left;
  width: 30%;
  border: 1px solid lightgrey;
  margin: 10px;
}

.app-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-box {
  display: flex;
  flex-direction: column;
  right: 5%;
}
