.task-list > li {
  cursor: pointer;
  text-align: left;
}

.task-list > li:hover {
  background: #f7f7f7;
}

.task-list > li .fa-check-circle {
  margin-right: 10px;
}

.task-list > .complete {
  text-decoration: line-through;
}

.task-list > .incomplete .fa-check-circle {
  opacity: 0.1;
}

.task-list > li .delete {
  background: transparent;
  border: none;
  float: right;
  opacity: 0.1;
  padding: 0 1.1rem;
}

.task-list > li .delete:hover,
.task-list > li .delete:focus {
  color: red;
  cursor: pointer;
  opacity: 1;
  outline: none;
}