.TodoInput {
  max-width: 480px;
  margin: 0px auto;
  margin-bottom: 25px;
}
.TodoInput__input {
  width: calc(100% - 50px);
  font-size: 20px;
  text-align: center;
  padding: 15px 25px;
  border: 0px;
  border-radius: 30px;
  outline: 0px;
  box-shadow: inset 0px 0px 5px 1px #ddd;
  background-color: #eee;
}
.TodoInput__input:focus {
  box-shadow: inset 0px 0px 0px 3px #0096ff;
}