.App {
  text-align: center;
}
.navbar {
    background-color: #FF7400;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #000044;
  height: 150px;
  padding-top: 20px;
  color: #999911;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
