/*------------------------------------*\
RESET
\*------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------------*\
General Styles
\*------------------------------------*/

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: sans-serif;
  font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  background: url('zen.jpg');
  background-size: cover;
  padding: 10px;
}

h1 {
  font-size: 4.3rem;
  color: #222;
  text-shadow: 1px 1px rgba(77,74,165,.6);
}

h2 {
	font-size: 3.5rem;
  color: #222;
  text-shadow: 1px 1px rgba(77,74,165,.6);
}

p {
  font-size: 2.3rem;
  color: #222;
  text-shadow: .5px .5px rgba(77,74,165,.4);
}

.nav-item {
	text-decoration: none;
	font-size: 2rem;
  color: rgb(77,74,165);
	text-shadow: .5px .5px rgba(77,74,165,.4);
}

.nav-item:hover {
	border-bottom: solid 1px #222;
}

.active {
	color: orangered;
}

.cross {
	text-decoration: line-through;
}

