.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.todo-list {
  list-style: none;
}

.complete {
  text-decoration: line-through;
}

.filter {
  margin-top: .3rem;
}

.filter >* {
  margin-left: .5rem;
}

button {
  border-radius: 12px;
}

button:hover {
  transform: scale(1.1);
  border-radius: 12px;
  background-color: lightblue;
}
