.form {
  text-align: center;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 60%;
    margin-right: 10px;
    height: 45px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: -2px 2px 5px black;
    font-size: 2rem;
    text-align: right;
    padding-right: 15px;
  }
  .btn {
    font-size: 2rem;
    margin-left: 10px;
    padding: 10px;
    width: 100px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: -2px 2px 5px black;
    text-shadow: -0.5px 0.5px 0px black;
    background: rgba(42, 154, 240, 0.767);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .clear-btn {
    background: rgba(255, 0, 0, 0.651);
  }
}
