.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: -2px 2px 5px black;
  text-shadow: -2px -2px 1px black;
  h1 {
    font-size: 5.5rem;
  }
  h3 {
    font-size: 3rem;
  }
}

@import "form";
