.item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .item-container__show {
    text-decoration: line-through;
  }

  .item-container__show, .item-container__hide, p {
    cursor: pointer;
  }
}
