.add-todo > form .add-todo-input {
    border-radius: 10px;
    border: 1px solid lightcoral;
    padding: 15px;
    outline: none;
    font-size: 16px;
    margin: 0 8px 0 0;
}

.add-todo > form > .add-todo-input::placeholder {
    font-size: 16px;
}

.add-todo > form > .error-input {
    border-radius: 10px;
    border: 1px solid red;
    padding: 15px;
    outline: none;
    font-size: 16px;
    margin: 0 8px 0 0;
}

.add-todo > form > button {
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid lightcoral;
    background: transparent;
    transition: 0.2s ease-in-out;
    outline: none;
}

.add-todo > form > button:hover {
    background: lightcoral;
    color: #ffffff;
    cursor: pointer;
}
