.main-div {
  width: 32em;
  height: 38em;
  border-color: gray;
  border-style: solid;
  margin-bottom: 0em;
  padding-bottom: 0em;
  margin-left: 32%;
  margin-right: 25%;
  border-radius: 15px;
  background-color: #f2f2f2;
  font-family: "Arial", Arial, sans-serif;
  color: Black;
  text-align: center;
}

.list-div {
  border: solid;
  border-color: gray;
  margin-top: 2em;
  height: 22em;
  width: 26.5em;
  margin-left: 2.5em;
  border-radius: 1em;
  background-color: white;
  overflow-y: scroll;
  display: flex;
}

.link-div {
  height: 5em;
  width: 26.5em;
  margin-left: 2.5em;
  border-radius: 1em;
  /*background-color: white;
  border: solid;
  border-color: gray;*/
  margin-top: 2em;
  text-align: center;
}

.link-text {
  font-family: "Arial", Arial, sans-serif;
  font-size: 1em;
  text-align: center;
}

.todo-input-bar {
    width: 45%;
    padding: 5px 10px;
    margin: 1px 0;
    font-family: "Arial", Arial, sans-serif;
    font-size: 1em;
    margin-left: ;
    border-radius: 15px;
    border: solid;
    border-color: gray;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.add-todo {
  margin: 2em;
}

// Text

.header {
  font-family: "Arial", Arial, sans-serif;
  color: Black;
  text-align: center;
}

h2 {
  font-family: "Arial", Arial, sans-serif;
  color: Gray;
  text-align: center;
  margin-left: 0;
}

p {
  text-decoration: none;
}


ol {

}

ul {
  list-style-type: none;

}

li {
  font-size: 1.2em;
  font-family: "Arial", Arial, sans-serif;
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-left: 0em;

}
