form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6000px;
  height: 210px;
  background: #114499;
  border: 1px solid #333;
  border-radius: 9px;
}

form input {
  width: 450px;
  height: 35px;
  padding: 20px;
  font-size: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-bottom: 25px;
}

form input:focus {
  outline: none;
}

.buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  color: #114499;
  background: #fff;
  border: 2px solid #333;
  border-radius: 7px;
}

button:hover {
  color: #fff;
  background: #1144ff;
}