.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h3 {
  margin: 7px;
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top:10px;
  align-items: center;
}

.header input {
  padding: 0px 10px;
  font-size: 12px;
  color:red;
  margin-left:10px;
  line-height: 0px;

  height: 25px;
}

.buttons {
   margin-top:15px;
}
.item-true {
   text-decoration: line-through;
   color:green;
}