body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todo-item {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.todo-item li {
  margin-right: 10px;
}

.todo-item button {
  margin-left: 10px;
}