body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.done {
  text-decoration: line-through;
}

.todo-app-container {
  width: 40%;
  margin: 5% auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 0;
}

input,
button {
  padding: 2%;
}
