.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f2f2f2;
  height: 100vh;
}

.completed {
  text-decoration: line-through;
}

.error {
  display: block;
  margin: 10px 0;
  color: red;
}

.todo-section {
  padding: 10px;
  background: #fff;
  border-radius: 10px;
}
